.header{

    background-color: black;
}

.headerProfile{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.iconHeader{

    font-size: 28px;
    color: white;
}

.imgProfileHeader{

    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: red solid 1px;
}